# Go build artifacts
/bin/
/obj/
/*.exe
/*.exe~
/*.test
/*.test~
/*.out

# Dependency directories
/vendor/

# Go workspace file
go.work

# IDEs and editors
.idea/
.vscode/

# Logs
*.log
.env

# OS files
.DS_Store
Thumbs.db
test*
go.sum